.chat
{
	min-width: 300px;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	background: #CCCCCC;
	border: 1px solid #999999;
	padding: 10px;
	font: 12px 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.chat .box
{
	background: #FFFFFF;
	height: 150px;
	overflow: auto;
	padding: 10px;
	border: 1px solid #999999;
}
.chat .panel input
{
	padding: 2px 2px 2px 5px;
}
.notice
{
	color: #BDBDBD;
	font-style: italic;
}
.name
{
	font-weight:bold;
}
.message
{
	color: #88B6E0;
}
